.register {
  // height: 100vh;
  &.loginPageActive {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.otherPages {
    flex-basis: 80%;
    background-color: #F1F1F1;
    padding: 30px 60px 40px 18px;
  }
}
.logo{
  margin: 0 0 20px 40px;
  flex-basis: 20%;
}
.crmApp {
  display: flex;
}